<div class="fixed top-0 left-0 w-screen h-screen flex items-center justify-center">
    <div class="fixed top-0 left-0 w-screen h-screen bg-gray-800 bg-opacity-70"></div>
    <form #surveyForm="ngForm" (ngSubmit)="saveQuestion()">
        <div class="bg-white w-96 p-8 rounded-lg shadow-xl relative z-50">
            <h2 class="text-3xl mb-4">Ajouter un sondage</h2>
            <input [(ngModel)]="survey.title" name="title" class="w-full px-3 py-2 border rounded-md"
                placeholder="Titre du sondage" required pattern=".{5,}">
            <span class="min-h-32 flex">
                &nbsp;
                <mat-error *ngIf="surveyForm.controls['title'].touched && surveyForm.controls['title'].invalid"
                    class="text-red-500 select-none">
                    Titre invalide (5 caractères minimum)
                </mat-error>
            </span>
            <textarea [(ngModel)]="survey.description" name="description"
                class="w-full px-3 py-2 mt-4 border rounded-md" placeholder="Description du sondage" required
                pattern=".{20,}">
            </textarea>
            <span class="min-h-32 flex">
                &nbsp;
                <mat-error
                    *ngIf="surveyForm.controls['description'].touched && surveyForm.controls['description'].invalid"
                    class="text-red-500 select-none">
                    Description invalide (20 caractères minimum)
                </mat-error>
            </span>
            <div class="mt-4 flex justify-center">
                <button (click)="closePopup()" class="bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded-lg">
                    Annuler
                </button>
                <button type="submit" [disabled]="surveyForm.invalid"
                    class="bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded-lg ml-2">
                    Enregistrer
                </button>
            </div>
        </div>
    </form>
</div>