<div class="bg-background p-8 rounded-lg shadow-md sticky top-16">
    <div class="mb-4 flex flex-wrap justify-center items-center">
        <button
            class="btn btn-primary mb-2 w-full bg-blue-500 hover:bg-blue-600 focus:ring focus:ring-blue-300 text-white px-4 py-2 rounded-lg">Créer
            un sondage</button>
        <button
            class="btn btn-success mb-2 w-full bg-green-500 hover:bg-green-600 focus:ring focus:ring-green-300 text-white px-4 py-2 rounded-lg">Ajouter
            une question</button>
        <button
            class="btn btn-warning mb-2 w-full bg-yellow-500 hover:bg-yellow-600 focus:ring focus:ring-yellow-300 text-white px-4 py-2 rounded-lg">Modifier
            la question</button>
        <button
            class="btn btn-danger mb-2 w-full bg-red-500 hover:bg-red-600 focus:ring focus:ring-red-300 text-white px-4 py-2 rounded-lg">Supprimer
            la question</button>
        <button
            class="btn btn-secondary w-full bg-gray-300 hover:bg-gray-400 focus:ring focus:ring-gray-300 text-gray-700 px-4 py-2 rounded-lg">Désélectionner
            tout</button>
    </div>
</div>