<div class="bg-background p-6 rounded-lg shadow-md sticky top-16 bg-slate-50">
    <div class="mb-4">
        <div class="mb-4 flex space-x-4 items-center">
            <button [disabled]="activeTab === 'question'" (click)="setActiveTab('question')"
                [class.font-bold]="activeTab === 'question'">
                Question
            </button>
            <div class=" border-r border-gray-400 h-5 mx-4">
            </div>
            <button [disabled]="activeTab === 'sondage'" (click)="setActiveTab('sondage')"
                [class.font-bold]="activeTab === 'sondage'">
                Sondage
            </button>
        </div>
        <div *ngIf="activeTab === 'question'">
            <input type="text" placeholder="Rechercher une question..." class="w-full px-4 py-2 border rounded-lg"
                [(ngModel)]="searchQuery" (input)="setSearchQuery($event)">
        </div>
        <div *ngIf="activeTab === 'sondage'">
            <input type="text" placeholder="Rechercher un sondage..." class="w-full px-4 py-2 border rounded-lg"
                [(ngModel)]="searchQuery" (input)="setSearchQuery($event)">
        </div>
    </div>
    <div class=" mb-4 flex items-center">
        <input type="checkbox" id="my-activities" class="mr-2" [(ngModel)]="searchOwner"
            (change)="setSearchOwner($event)">
        <label for=" my-activities">Afficher mes {{activeTab}}s</label>
    </div>
    <div class="mb-4 flex flex-col">
        <label for="start-date" class="mb-1">Créée avant le :</label>
        <input type="date" id="start-date" class="w-full px-4 py-2 border rounded-lg" [(ngModel)]="searchDate"
            (input)="setSearchDate($event)">
    </div>
</div>