<div class="bg-gray-100 flex justify-center items-center h-full -mt-14">

  <div class="w-1/2 hidden lg:block">
    <img
      src="https://img.freepik.com/vecteurs-libre/neon-realiste-rejoignez-nous-lettrage_23-2148948795.jpg?w=740&t=st=1698330377~exp=1698330977~hmac=9c8b0838f6be46b5959d6f89238ce476751e129f01b0c7f5bd2135f8eefb42b8"
      alt="Placeholder Image" class="w-full h-screen">
  </div>

  <div class="lg:p-36 md:p-52 sm:20 p-8 w-full lg:w-1/2 h-screen -mt-32 -mt-bot-32">
    <h1 class="font-bold mb-4 text-center">S'inscrire</h1>
    <form [formGroup]="loginForm" (ngSubmit)="submit(loginForm)" novalidate>

      <div class="mb-4">
        <label for="firstname" class="block text-gray-600">Prénom</label>
        <input matInput placeholder="John" required type="text" id="firstname" name="firstname"
          class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500"
          autocomplete="off" minlength="2" formControlName="firstname" />

        <span class="min-h-32">
          &nbsp;
          <mat-error class="select-none"
            *ngIf=" loginForm.get('firstname')?.dirty && loginForm.get('firstname')?.hasError('required')">
            Le prénom est <strong>obligatoire</strong>
          </mat-error>
          <mat-error class="select-none"
            *ngIf="loginForm.get('firstname')?.dirty && loginForm.get('firstname')?.hasError('minlength')">
            Le prénom doit faire un minimum de <strong>deux caractères</strong>
          </mat-error>
        </span>
      </div>

      <div class="mb-4">
        <label for="lastname" class="block text-gray-600">Nom</label>
        <input matInput placeholder="Doe" required type="text" id="lastname" name="lastname"
          class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500"
          autocomplete="off" minlength="2" formControlName="lastname">

        <span class="min-h-32">
          &nbsp;
          <mat-error class="select-none"
            *ngIf="loginForm.get('lastname')?.dirty && loginForm.get('lastname')?.hasError('required')">
            Le nom est <strong>obligatoire</strong>
          </mat-error>
          <mat-error class="select-none"
            *ngIf="loginForm.get('lastname')?.dirty && loginForm.get('lastname')?.hasError('minlength')">
            Le nom doit faire un minimum de <strong>deux caractères</strong>
          </mat-error>
        </span>

      </div>

      <div class="mb-4">
        <label for="email" class="block text-gray-600">Email</label>
        <input matInput placeholder="john.doe@mail.com" required type="text" id="email" name="email"
          class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500"
          autocomplete="off" formControlName="email">

        <span class="min-h-32">
          &nbsp;
          <mat-error class="select-none"
            *ngIf="loginForm.get('email')?.dirty && loginForm.get('email')?.hasError('required')">
            L'email est <strong>obligatoire</strong>
          </mat-error>
          <mat-error class="select-none"
            *ngIf="loginForm.get('email')?.dirty && !loginForm.get('email')?.hasError('required') && loginForm.get('email')?.hasError('email')">
            L'email est invalide <strong>(ex: nom.prenom@mail.com)</strong>
          </mat-error>
        </span>

      </div>

      <div class="mb-4">
        <label for="password" class="block text-gray-600">Mot de passe</label>
        <input matInput minlength="2" required type="password" placeholder="•••••••••" id="password" name="password"
          class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500"
          autocomplete="off" formControlName="password">

        <span class="min-h-32">
          &nbsp;
          <mat-error class="select-none"
            *ngIf="loginForm.get('password')?.dirty && loginForm.get('password')?.hasError('required')">
            Le mot de passe est <strong>requis</strong>
          </mat-error>
          <mat-error class="select-none"
            *ngIf="loginForm.get('password')?.dirty && loginForm.get('password')?.hasError('minlength')">
            Le mot de passe doit faire <strong>5 caractères</strong> minimum
          </mat-error>
        </span>

      </div>

      <div class="mb-4">
        <label for="phone" class="block text-gray-600">Téléphone</label>
        <input matInput required type="text" id="phone" name="phone"
          class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500"
          autocomplete="off" placeholder="0612345678" formControlName="phone">

        <span class="min-h-32">
          &nbsp;
          <mat-error class="select-none"
            *ngIf="loginForm.get('phone')?.dirty && loginForm.get('phone')?.hasError('required')">
            Le numéro de téléphone est <strong>obligatoire</strong>
          </mat-error>
          <mat-error class="select-none"
            *ngIf="loginForm.get('phone')?.dirty && loginForm.get('phone')?.hasError('pattern')">
            Le numéro de téléphone doit suivre le format français <strong> (+336********)</strong>
          </mat-error>
        </span>
      </div>

      <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold rounded-md py-2 px-4 w-full">
        Créer un compte
      </button>

      <div *ngIf="registerError" class="text-red-500"><strong>Il reste des erreurs OU l'adresse mail à déjà été
          utilisée</strong></div>
    </form>

    <div class="mt-6 text-blue-500 text-center">
      <a href="/login" class="hover:underline">J'ai déjà un compte, me connecter !</a>
    </div>
  </div>
</div>